.App {
  text-align: center;
  justify-content: center;
  background-image: url("http://www.uidownload.com/files/111/933/153/construction-warning-signs-background-design-vector-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
