@media screen and (min-width: 900px) {
    .item { transition: transform .2s; }

.item:hover {

  transform: scale(1.4); 
  padding: 120px 50px;
  max-width: 88%;

}

}
.container{
  // display: flex;
  justify-content: space-around
}
